# Intro to ML Project
## Task 1b
### Jan Bauer, Alaisha Sharma

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import Lasso, Ridge, Perceptron, RidgeClassifierCV
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

%matplotlib inline

In [3]:
train_data = pd.read_csv("data/train.csv")
train_data = train_data.drop(columns='Id')
train_data.head()

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20
0,1,22.986015,27.383436,6.407323,4.296901,4.490673,3.424660,6.500079,4.410189,34.191366,...,17.827130,23.960538,19.283087,11.623474,20.903409,18.905106,21.308147,41.504105,34.191366,41.504105
1,2,29.577003,20.469078,7.381665,5.359012,3.874273,4.016012,6.657986,4.575168,9.445203,...,38.325516,25.039691,6.391184,28.513652,32.863154,13.343840,25.241815,38.466649,9.445203,38.466649
2,1,35.080229,29.498743,5.486379,4.367263,4.600076,3.466944,6.465857,3.952307,26.110083,...,23.615541,19.162763,31.726264,19.703598,19.441242,20.352629,15.118043,24.267205,26.110083,24.267205
3,2,28.471735,24.297268,5.692822,4.256181,3.132808,4.633252,6.086971,3.329618,31.309561,...,17.214131,25.558403,25.623639,31.203335,31.638882,19.548827,26.193467,19.713241,31.309561,19.713241
4,1,28.397544,24.629952,6.950566,5.095392,3.750686,4.619159,6.514364,2.572615,37.734235,...,17.245487,26.736001,22.195434,30.465523,41.018725,16.411012,23.233604,32.802430,37.734235,32.802430

In [4]:
X_train = train_data.iloc[:,1:]
X_train.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20
0,22.986015,27.383436,6.407323,4.296901,4.490673,3.424660,6.500079,4.410189,34.191366,41.504105,17.827130,23.960538,19.283087,11.623474,20.903409,18.905106,21.308147,41.504105,34.191366,41.504105
1,29.577003,20.469078,7.381665,5.359012,3.874273,4.016012,6.657986,4.575168,9.445203,38.466649,38.325516,25.039691,6.391184,28.513652,32.863154,13.343840,25.241815,38.466649,9.445203,38.466649
2,35.080229,29.498743,5.486379,4.367263,4.600076,3.466944,6.465857,3.952307,26.110083,24.267205,23.615541,19.162763,31.726264,19.703598,19.441242,20.352629,15.118043,24.267205,26.110083,24.267205
3,28.471735,24.297268,5.692822,4.256181,3.132808,4.633252,6.086971,3.329618,31.309561,19.713241,17.214131,25.558403,25.623639,31.203335,31.638882,19.548827,26.193467,19.713241,31.309561,19.713241
4,28.397544,24.629952,6.950566,5.095392,3.750686,4.619159,6.514364,2.572615,37.734235,32.802430,17.245487,26.736001,22.195434,30.465523,41.018725,16.411012,23.233604,32.802430,37.734235,32.802430

In [5]:
y_train = train_data.iloc[:,0:1]
y_train.head()

   y
0  1
1  2
2  1
3  2
4  1

In [6]:
test_data = pd.read_csv("data/test.csv")
X_test = test_data.drop(columns='Id')
X_test.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20
0,25.416720,25.755544,4.830466,3.217945,4.226192,2.701034,5.654137,3.613922,17.098802,13.395265,22.905159,21.192726,39.652094,21.238720,10.605857,25.580842,26.077812,13.395265,17.098802,13.395265
1,31.675273,35.623995,5.702935,4.459268,4.021896,3.511048,5.902183,3.648191,35.597627,16.353683,25.555283,21.109085,25.508481,38.824701,41.836627,28.949415,29.684927,16.353683,35.597627,16.353683
2,36.029493,41.306224,6.407306,4.680895,3.824754,3.438547,6.025030,3.687667,24.219165,28.023513,13.055899,23.710293,20.729796,25.406714,25.242859,13.013503,14.489823,28.023513,24.219165,28.023513
3,32.576287,23.072771,6.365671,3.388560,4.049858,3.792925,6.124153,3.391213,40.359319,17.572470,10.568892,15.606853,32.713948,40.245814,44.708707,17.488339,20.446424,17.572470,40.359319,17.572470
4,29.196610,24.863397,3.801012,4.171005,4.865999,4.296043,5.038801,3.493025,34.693546,11.628092,27.647665,32.282926,17.327031,32.462861,29.805679,40.575843,26.269025,11.628092,34.693546,11.628092

In [7]:
def count_classes(predictions):
    ctr_0 = np.sum([1 if i == 0 else 0 for i in predictions])
    ctr_1 = np.sum([1 if i == 1 else 0 for i in predictions])
    ctr_2 = np.sum([1 if i == 2 else 0 for i in predictions])
    print("0: ", ctr_0, "\n1: ", ctr_1, "\n2: ", ctr_2)

In [8]:
clf_OVA = Perceptron(alpha=0.0001, fit_intercept=False, shuffle=True)
clf_OVA.fit(X_train, y_train)
pred_OVA = clf_OVA.predict(X_test)

count_classes(pred_OVA)

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:  93
1:  2445
2:  462

In [9]:
clf_OVO = SVC(gamma='auto')
clf_OVO.fit(X_train, y_train)
pred_OVO = clf_OVO.predict(X_test)

count_classes(pred_OVO)

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:  138
1:  143
2:  2719

In [10]:
knn = KNeighborsClassifier(n_neighbors=15)
knn.fit(X_train, y_train)
pred_kNN = knn.predict(X_test)

count_classes(pred_kNN)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

0:  1124
1:  880
2:  996

In [11]:
reg = RidgeClassifierCV(alphas=[0.001, 0.01, 0.1, 1])
reg.fit(X_train, y_train)
pred_ridge = knn.predict(X_test)

count_classes(pred_ridge)

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/ridge.py:1354: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:  1124
1:  880
2:  996

In [31]:
net = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(20,20,15,10), random_state=1)
net.fit(X_train, y_train)                         
pred_net = net.predict(X_test)

count_classes(pred_net)

/anaconda3/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:  1112
1:  858
2:  1030

In [33]:
net = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(50,30,20,15), random_state=1)
net.fit(X_train, y_train)                         
pred_net = net.predict(X_test)

count_classes(pred_net)

/anaconda3/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:  1044
1:  988
2:  968

In [34]:
pred_submit = pd.DataFrame(list(zip(test_data['Id'], pred_net)), columns=['Id', 'y'])
final_submit = pred_submit.to_csv("submit.csv", index=False)